@import "tailwindcss";

:root {
  --background: #e3e3e3;
  --foreground: #171717;
  --hornetsPurple: #1d1160;
  --hornetsTeal: #00788c;
  --hornetsGray: #a1a1a4;
  --lightGray: #f4f4f5;
  --textColor: #333333;
  --linkColor: #0070f3;
  --linkHoverColor: #005bb5;
  --transition-fast: all 0.2s ease-in-out;
  --transition-medium: all 0.5s ease-in-out;
  --transition-slow: all 1s ease-in-out;
  --font-family-sans: "Inter", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;
}

body {
  background-color: var(--background);
  color: var(--textColor);
  font-size: 16px;
  line-height: 1.6;
  transition: var(--transition-medium);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-sans);
    color: var(--foreground);
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 1rem;
    color: var(--textColor);
    font-family: var(--font-family-sans);
  }
  a {
    color: var(--hornetsTeal);
    text-decoration: none;
    transition: var(--transition-fast);
    &:hover {
      color: var(--hornetsPurple);
      text-decoration: underline;
    }
  }
  .nav-container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    .navbar {
      width: 100%;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      ul {
        li {
          width: 100%;
          margin-bottom: 15px;
          button {
            width: 100%;
          }
        }
      }
    }
  }
  #nav-mobile {
    display: flex;
    flex-flow: column-reverse;
  }
  .rounded-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
