@import "tailwindcss";

:root {
  --background: #e3e3e3;
  --foreground: #171717;
  --hornetsPurple: #1d1160;
  --hornetsTeal: #00788c;
  --hornetsGray: #a1a1a4;
  --textColor: #333333;
  --linkColor: #0070f3;
  --linkHoverColor: #005bb5;
  --transition-fast: all 0.2s ease-in-out;
  --transition-medium: all 0.5s ease-in-out;
  --transition-slow: all 1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .font-sans {
    font-family: var(--inter-font), sans-serif;
  }
  .font-mono {
    font-family: var(--roboto-mono-font), monospace;
  }
}

body {
  background-color: var(--background);
  color: var(--textColor);
  font-size: 16px;
  line-height: 1.6;
  transition: var(--transition-medium);
  a {
    color: var(--hornetsTeal);
    text-decoration: none;
    transition: var(--transition-fast);
    &:hover {
      color: var(--hornetsPurple);
      text-decoration: underline;
    }
  }
  .nav-container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    .navbar {
      width: 100%;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
      ul {
        li {
          width: 100%;
          margin-bottom: 15px;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
